<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends "base2.html" %}
{% block content %}
    <h2 style="color:rgb(255,0,0);">{{ team_name }}</h2>
    <p><b>Visit official website:</b> <a href="{{ info.link }}">{{ info.link }}</a></p>
    <p><b>Races:</b> {{ info.races }}</p>
    <p><b>Wins:</b> {{ info.wins }}</p>
    <p><b>Poles:</b> {{ info.poles }}</p>
{% endblock %}